<!DOCTYPE html>
<html lang="en" class="dark" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Mccap" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/default.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body class="bg-gray-900 text-gray-100 min-h-screen p-4 md:p-8 antialiased">
    <main class="max-w-7xl mx-auto w-full">
      {@inner_content}
    </main>
  </body>
</html>
